{%extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Home Page{%endblock%}

</head>
<body>
{%block body%}
<br>
<div class="container">
        Limit: {%if request.user.is_special%}
                    {{request.user.limit}}/50
                {%else%}
                    {{request.user.limit}}/10
                {%endif%}
        <br>Is special: {{request.user.is_special}}<hr>
        {%if object_list.count == 0%}
            <p>you haven't uploaded any file yet...</p>
            <a href="{%url 'file:add-file'%}">Add new file</a>
        {%else%}
            {% for object in object_list %}
                <div class="row align-items-start">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm">
                                    Name: {{object.title}}
                                </div>
                                <div class="col-sm">
                                    Slug: {{object.slug}}
                                </div>
                                <div class="col-sm">
                                    <a href="{%url 'file:detail-file' object.slug %}" class="btn btn-secondary">Preview</a>
                                    <a href="{%url 'file:delete-file' object.slug%}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </li>
                        <br>
                    </ul>
                </div>
                {%endfor%}
            </div>
        {%endif%}


</div>

{%endblock%}
</body>
</html>