{%extends 'base/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Add File{%endblock%}
</head>
<body>
{%block body%}

{% if request.user.is_special %}
    <h4>You can upload files less than 10 MBs</h4>
{%else%}
    <h4>You can upload files less than 5 MBs</h4>
{% endif %}

<hr>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.title|as_crispy_field }}
        <br>
        {{ form.description|as_crispy_field }}
        <br>
        {{ form.file|as_crispy_field }}
        <br>
        <input type="submit" value="Save" class="btn btn-success">
        <br>
</form>
{%endblock%}
</body>
</html>