{%extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}File Detail{%endblock%}

</head>
<body>
{%block body%}
<br>
    <h3>Title: {{object.title}}</h3>  <br><hr>
    <p>Description: {{object.description}}</p><hr>
    <div>
    <h6 style="display: inline;">Address: </h6>
        <p style="display: inline;" id="demo">{{ request.META.HTTP_HOST }}/detail/{{object.id}}/{{object.slug}}/ </p>
    <input style="width:90px; height: 12x;" class="btn btn-secondary" value="Copy Url" onclick="copy('demo')"/>
    </div>
    <script>
            function copy(element_id){
          var aux = document.createElement("div");
          aux.setAttribute("contentEditable", true);
          aux.innerHTML = document.getElementById(element_id).innerHTML;
          aux.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");
          document.body.appendChild(aux);
          aux.focus();
          document.execCommand("copy");
          document.body.removeChild(aux);}
    </script>
    <hr>
        Download link:   <a href="{% url 'file:download-file' object.id object.slug%}" style="width: 90px;" type="submit" class="btn btn-secondary">Download</a>
    <hr>
    <h6> Viewed by {{object.views.count}} person</h6><hr>
    <h6> Uploaded by: {{object.owner}}</h6><hr>
{%endblock%}
</body>

</html>