{%extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Detail File Page{%endblock%}

</head>
<body>
{%block body%}
<br>
    <h3>Title: {{object.title}}</h3>  <br><hr>
    <h5>Description: {{object.description}}</h5> <br><hr>
    <div>
    <h5>Domain:</h5><p id="demo">{{ request.META.HTTP_HOST }}/detail/{{object.slug}}/</p>
    <input style="width:100px;" class="btn btn-secondary" value="Copy Url" onclick="copy('demo')"/>
    </div>
    <script>
            function copy(element_id){
          var aux = document.createElement("div");
          aux.setAttribute("contentEditable", true);
          aux.innerHTML = document.getElementById(element_id).innerHTML;
          aux.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");
          document.body.appendChild(aux);
          aux.focus();
          document.execCommand("copy");
          document.body.removeChild(aux);}
    </script>
    <hr>
        Download link:   <a href="{% url 'file:download-file' object.slug%}" type="submit" class="btn btn-secondary">Download</a>
    <hr>
    <h6> Viewed by {{object.views.count}} person</h6><hr>
    <h5> Uploaded by: {{object.owner}}</h5><hr>

{%endblock%}
</body>

</html>