{%extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title%}Home Page{%endblock%}

</head>
<body>
{%block body%}
<br>
<div class="container">
    <div class="shadow p-4 mb-5 bg-body rounded">
        {% for object in object_list %}
            {%if object_list%}
                hi
            {%else%}
                hi
            {%endif%}
        <div class="row align-items-start">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                    <div class="col-sm">
                        Name: {{object.title}}
                    </div>
                    <div class="col-sm">
                        Slug: {{object.slug}}
                    </div>
                    <div class="col-sm">
                     <a href="{%url 'file:detail-file' object.slug %}" class="btn btn-secondary">Preview</a>
                     <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
              </li>
                <br>
            </ul>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}
</body>
</html>